<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script>
  var listApp = angular.module('listApp', []);
  listApp.controller('ListController', ['$scope', function($scope) {
    $scope.mydata = [{
        task: 'Book Flight',
        date: '05/30/2016'
      }, {
        task: 'Haircut',
        date: '06/02/2016'
      }, {
        task: 'Meeting with Souha',
        date: '06/05/2016'
      }

    ];
    $scope.details = "";
    // sample method
    $scope.myMethod = function(t) {
      $scope.details = t.date;
      $scope.selectedItem = t;
    };
  }]);
</script>

<!--View template. Add necessary Angular directives -->

<body ng-app="listApp">
  <div ng-controller="ListController">
    <p>Search :
      <input type="text" ng-model="search">
    </p>
    <p> You are searching for :<b> {{search}}</b></p>
    <b>Total:{{mydata.length}} </b>
    <ul>
      <li ng-repeat="t in mydata| filter : search" ng-click="myMethod(t)">
        {{ t.task}}
        <p ng-style="{ 'display': (t == selectedItem) ? 'block' : 'none' }">{{details}} </p>
      </li>
    </ul>
  </div>
</body>
