<!doctype>
<html>
<head>
    <title>You TODO App</title>
</head>
<body>
    <header>Shadow Pipe</header>
       <div class="nav">
    {{! only show home link if on detail page }}
    {{#if task}}<a href="/">Home</a> |{{/if}}
    <a href="/about">About</a></div>
    <hr>
    {{{body}}}
    <hr>
 
    <footer>&copy; Souha Amor</footer
</body>
</html>
