<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script>
var listApp = angular.module('listApp',[]);
listApp.controller('ListController', function($scope,$http) {
  
  
  $http.get('/api/tasks')
      .then(function successCallback(response) {
            $scope.tasks = response.data;
      }, function errorCallback(response) {
        console.log('Error: ' + response.data);
      });
  

  



$scope.details="";
 $scope.hideform = true;
  $scope.hideformadd = true; 
 
   // reset form
      $scope.showDetail = function(item) { 
       $scope.add = false;
        $scope.hideform = (item == $scope.task) ? !$scope.hideform : false; 
        $scope.task = item;
        $scope.selectedItem = item;
        
      };
 
     $scope.newTask = function() { 
        $scope.add = true;
        $scope.hideform = false; 
        $scope.task = {};
      };
      
      
      $scope.saveTask = function() { 
        $http.post('/api/add', $scope.task)
        .then(function successCallback(response) {
            $scope.post_result = response.data;
        }, function errorCallback(response) {
          console.log('Error: ' + response.data);
        });
      };
      
         $scope.removeTask = function() { 
        $http.post('/api/delete', $scope.task)
        .then(function successCallback(response) {
        /*    $scope.post_result = response.data;
        }, function errorCallback(response) {
          console.log('Error: ' + response.data);
        });
      };*/
      var newList = $scope.leads.filter(function(task) {
                  return task._id != $scope.task._id;
                });
                $scope.tasks = newList;
                $scope.task = {};
            }, function errorCallback(response) {
              console.log('Error: ' + response.data);
            });
           };
 

});
</script>

<!--View template. Add necessary Angular directives -->
<body ng-app="listApp">
<div ng-controller="ListController">
<p>Search : <input type="text"  ng-model="search"> <button ng-click="newTask()">New</button></p>
<p> You are searching for :<b> {{search}}</b></p>

<b>Total:{{tasks.length}} </b>
<!--<form ng-hide="hideformadd">
  <h3 >Add New Item:</h3>
  <h3 ng-bind="post_result"></h3>
    <input type="text" placeholder="task" ng-model="task.task">
    <input type="text" placeholder="description" ng-model="task.description">
    
    <input type="hidden" name="id">
    <br><button ng-click="saveTask()">Save</button></p>
  </span> 
  </form>-->
  
<ul>
  <li ng-repeat="t in tasks | filter : search" ng-click="showDetail(t)">
    {{ t.task}}
   <p ng-style="{ 'display': (t == selectedItem) ? 'block' : 'none' }">{{task.description}} </p>
  
  </li>
</ul>
  <form ng-hide="hideform">
<h3 ng-show="add">Add Item:</h3>
  <h3 ng-hide="add">Edit Item:</h3>
  <h3 ng-bind="post_result"></h3>
    <input type="text" placeholder="task" ng-model="task.task">
    <input type="text" placeholder="description" ng-model="task.description">
    <input type="hidden" name="_id" ng-model="task._id}}">
    <br><button ng-click="saveTask()">Save</button>
  <br><button ng-click="removeTask()">Delete</button>
  </span> 
  </form>
</div>
</body>
